.App{
  background-color: #0D0416;
  overflow-x: hidden;
}


@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Bold.ttf) format('truetype');
}


.section {
  height: 100vh;
  background-color: #0D0416;
}

